body{
	background-color: black;
	color: #919191;
	font-family: monospace;
	font-size: 23px;
}
@keyframes myAppearAnimation{
	0%{transform:translate(-1000px,0);} 
}
p{
animation: myAppearAnimation;
animation-duration: 1s;
}